
    <%- include('partials/header') %>
    <main>
        <h1><%= title %></h1>
        
<ul>
    <li>Environmental</li>
    <li>Educational</li>
    <li>Community service</li>
    <li>Health and wellness</li>
</ul>
    </main>
<%- include('partials/footer') %>

